* {
  font-family: 'Montserrat', sans-serif;
  color: rgb(72, 72, 72);
  box-sizing: border-box;
}

.wrapper {
  width: 40em;
  height: auto;
  position: relative;
}

.divider {
  border: 0.5px solid rgb(230, 230, 230);
  margin: 1em 0px;
}
