* {
  font-family: 'Montserrat', sans-serif;
  color: rgb(72, 72, 72);
  box-sizing: border-box;
}

.pagination {
  display: inline-block;
  padding: 0.5em 2em 3em 0em;
  vertical-align: middle;
}

.pageButton {
  float: left;
  text-decoration: none;
  font-size: small;
  font-weight: bold;
  border: none;
  font-weight: normal;
}

.pageButton:focus {
  outline: 0;
}

.pageButton:hover:not(.active) {
  text-decoration: underline;
}

.pageButtonClicked {
  color: white;
  background-color: #00A699;
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
}

.pageButtonUnclicked {
  color: #00A699;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
}
