* {
  font-family: 'Montserrat', sans-serif;
  color: rgb(72, 72, 72);
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  text-align: center;
}

.pagination {
  display: inline-block;
  margin: 0 auto;
  padding-top: 2em;
  width: 10%;
  vertical-align: middle;
  line-height: initial;
}

.pageButton {
  float: left;
  text-decoration: none;
  font-size: small;
  color: grey;
  border: none;
  font-weight: normal;
}

.pageButton:focus {
  outline: 0;
}

.pageButton:hover:not(.active) {
  text-decoration: underline;
}
